:root {
    --amethyst: #A05ED7ff;
    --sunglow: #FEC81Dff;
    --plum-web: #E6A5E8ff;
    --cadmium-red: #E6091Bff;
    --cyan-process: #0AADE4ff;
    --yellow: #FFFE00ff;
    --violet-web: #FE81E5ff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    padding: 0%;
}

.background {
    width: calc(100% / 3);
    background-image: url(hongkong.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: var(--violet-web);

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(200% / 3);
    background-color: white;
    color: white;
    background-color: black;
}


.user-info{
    display: flex;
    justify-content: center;
    width: 100%;
}

.submission-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.columns {
    display: flex;
    flex-direction: row;
    border: 2px solid var(--violet-web);
    border-radius: 10px;
    padding: 2em;
    padding-top: 0;
}

.left-column,
.right-column {
    width: 50%;
}

label {
    display: block;
    padding: 2rem 0 .5rem;
}


input {
    display: block;
    width: 70%;
}

#sendBtn {
    width: auto;
    margin-top: 2rem;
    cursor: pointer;
    padding: 5px;
}
